html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
    font-family: sans-serif;
}
.Central
{
    text-align: center;
    align-items: center;
}

#About
{
    background-color: rgb(9, 113, 145);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 900px;
    margin: auto;
}

#Taskbar
{
    position: fixed;
    background-color: rgb(49, 49, 49);
    left: 0;
    top: 0;
    width: 100%;
    height: 45px;
    border-style: groove;
    border-left: 0px;
    border-top: 0px;
    border-bottom-width: 10px;
    border-color: rgb(9, 113, 145);
}

.TaskButton
{
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    background-color: rgb(9, 113, 145);
    color: white;
    position: relative;
    top: 3px;
    left: 5%;
}
.TaskButton:hover
{
    background-color: rgb(80, 204, 241);
}

#HomeButton
{
    color: white;
    position: relative;
    top: 8px;
    left: 4%;
}
#HomeButton:hover
{
    color: rgb(80, 204, 241);
}

#Email
{
    color: white;
    position: relative;
    top: 10px;
    float: right;
    right: 5%;
}
#Email:hover
{
    color: rgb(80, 204, 241);
}

#Itch
{
    color: #FA5C5C;
    position: relative;
    top: 10px;
    float: right;
    right: 5%;
}
#Itch:hover
{
    color: rgb(80, 204, 241);
}

#LinkedIn
{
    color: #0a66c2;
    position: relative;
    top: 10px;
    float: right;
    right: 5%;
}
#LinkedIn:hover
{
    color: rgb(80, 204, 241);
}

#Github
{
    color: white;
    position: relative;
    top: 10px;
    float: right;
    right: 5.2%;
}
#Github:hover
{
    color: rgb(80, 204, 241);
}

#ProfileImage
{
    width: 200px;
    border-radius: 200px;
    position: relative;
}