html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
    font-family: sans-serif;
}
.Central
{
    text-align: center;
}

#About
{
    background-color: rgb(9, 113, 145);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 900px;
    margin: auto;
}

#Taskbar
{
    position: fixed;
    background-color: rgb(49, 49, 49);
    left: 0;
    top: 0;
    width: 100%;
    height: 45px;
    border-style: groove;
    border-left: 0px;
    border-top: 0px;
    border-bottom-width: 10px;
    border-color: rgb(9, 113, 145);
    z-index: 100;
}

.TaskButton
{
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    background-color: rgb(9, 113, 145);
    color: white;
    position: relative;
    top: 3px;
}
#AboutButton
{
    left: 5%;
}
#ProjectsButton
{
    left: 6%;
}

.TaskButton:hover
{
    background-color: rgb(80, 204, 241);
}

#HomeButton
{
    color: white;
    position: relative;
    top: 8px;
    left: 4%;
}
#HomeButton:hover
{
    color: rgb(80, 204, 241);
}

#Email
{
    color: white;
    position: relative;
    top: 10px;
    float: right;
    right: 5%;
}
#Email:hover
{
    color: rgb(80, 204, 241);
}

#Itch
{
    color: #FA5C5C;
    position: relative;
    top: 10px;
    float: right;
    right: 5%;
}
#Itch:hover
{
    color: rgb(80, 204, 241);
}

#LinkedIn
{
    color: #0a66c2;
    position: relative;
    top: 10px;
    float: right;
    right: 5%;
}
#LinkedIn:hover
{
    color: rgb(80, 204, 241);
}

#Github
{
    color: white;
    position: relative;
    top: 10px;
    float: right;
    right: 5.2%;
}
#Github:hover
{
    color: rgb(80, 204, 241);
}

#ProfileImage
{
    width: 200px;
    border-radius: 200px;
}

#Projects
{
    background-color: rgb(90, 90, 90);
    color: white;
}

.ProjectImage
{
    position: relative;
    width: 400px;
    border: rgb(9, 113, 145);
    border-style: solid;
    border-width: 5px;
    margin: auto;
    z-index: 5;
}
.EngineIcon
{
    position: absolute;
    z-index: 10;
    width: 60px;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.014);
    border-left-width: 6px;
    border-right-width: 6px;
    border-style: solid;
}

.LangIcon
{
    position: absolute;
    z-index: 10;
    width: 60px;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.014);
    border-left-width: 6px;
    border-right-width: 6px;
    border-style: solid;
}

.Figure
{
    position: relative;
    width: auto;
    height: auto;
}
.Caption
{
    position: relative;
    background-color: rgb(9, 113, 145);
    border-radius: 15px;
    color: white;
    padding: 5px;
    height: fit-content;
    bottom: -5px;
}

.Container
{
    position: relative;
    align-items: flex-start;
    display: flex;
    justify-content: center;
}